.Hangman {
  width: 600px;
  margin: 0 auto;
  font-family: 'Baloo Chettan 2', cursive;
  text-align: center;
  background: white;
}

.WordLetters {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 25px;
}

.WordLetters div {
  margin: 0 10px;
  text-align: center;
}

.WordLetters > .space {
  flex: 1 1 100%;
  height: 10px;
}

.Keypad {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  margin: 30px 0;
}

.Keypad button {
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px;
  width: 10%;
  margin: 5px;
  background: #05A8AA;
  color: white;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 2.5px;
  transform: scale(1);
  transition: all .25s ease;
}

.Keypad button:hover {
  transform: scale(1.1);
}

.Keypad button.incorrect {
  background: #BC412B;
}

.Keypad button.correct {
  background: #B8D5B8;
}

.letterHolder {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 25px;
  font-size: 24px;
  padding: 5px;
  background: #05A8AA;
  color: white;
}

.boldize {
  font-weight: bold;
}

.Guesses {
  text-align: center;
  padding-bottom: 10px;
}

.canvasBox {
  margin: 0 auto;
  width: 350px;
  height: 316px;
  border: 1px dashed black;
}

.canvasBox img {
  width: 100%;
}

.startAgain {
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
}
